{{roomsform.pristine | json}}
{{roomsform.dirty | json}}
{{roomsform.valid | json}}
{{roomsform.invalid | json}}
{{roomsform.value | json}}

{{room | json}}

<div *ngIf="successmessage!=''" class="alert alert-success">
  {{successmessage}}
</div>

<form #roomsform="ngForm" (ngSubmit)="addRoom(roomsform)">
  <div class="form-group">
    <label for="roomType">Room Type</label>
    <input
    required="true"
    class="form-control"
    type="text"
    name="roomType"
    [(ngModel)]="room.roomType"
    placeholder="Room Type">
  </div>
  <div class="form-group">
    <label for="amenities">Amenities</label>
    <input
    #roomamenities="ngModel"
    required="true"
    minlength="5"
    maxlength="20"
    class="form-control"
    type="text"
    name="amenities"
    [(ngModel)]="room.amenities"
    placeholder="Amenities">
  </div>
  <div class="alert alert-danger" *ngIf="roomamenities.errors?.['minlength']">
    Amenities must be at least 5 characters
  </div>
  <div class="form-group">
    <label for="price">Room price per night</label>
    <input
    required="true"
    class="form-control"
    type="number"
    name="price"
    [(ngModel)]="room.price"
    placeholder="Room price per night">
  </div>
  <div class="form-group">
    <label for="photos">Photos</label>
    <input
    required="true"
    class="form-control"
    type="text"
    name="photos"
    [(ngModel)]="room.photos"
    placeholder="Photos (Provide Link)">
  </div>
  <div>
    <label for="checkinTime">Check-in Time</label>
    <input
    required="true"
    class="form-control"
    type="datetime"
    name="checkinTime"
    [(ngModel)]="room.checkInTime"
    placeholder="Check-in Time">
  </div>
  <div class="form-group">
    <label for="checkoutTime">Check-out Time</label>
    <input
    required="true"
    class="form-control"
    type="datetime"
    name="checkoutTime"
    [(ngModel)]="room.checkOutTime"
    placeholder="Check-out Time">
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input
    required="true"
    min = "1"
    max = "5"
    class="form-control"
    type="number"
    name="rating"
    [(ngModel)]="room.rating"
    placeholder="Rating">
  </div>
  <div>
    <button [disabled]="roomsform.invalid" class="btn btn-primary" type="submit">Submit</button> </div>
</form>
