<!-- <h1>Welcome to {{ hotelName }}</h1> -->
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}"
    [innerText]="numberOfRooms"></div>
</div>

{{rooms?.availableRooms ?? "No rooms"}}

{{selectedRoom | json}}

<button (click)="addRoom()">Add Room</button>

<div *ngIf="hideRooms">
  <!-- {{roomList}} -->
  <hinv-rooms-list [rooms]="roomList"
  [title]="title"
  (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>
<button (click)="editroom()">Edit Room</button>
<button (click)="deleteroom()">Delete Room</button>
